<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.nood.mapper.PermissionMapper">

    <resultMap id="permission" type="com.nood.model.Permission">
        <id property="pid" column="pid" />
        <result property="permissionName" column="pname" />
        <result property="url" column="url" />
        <result property="descrption" column="descrption" />
    </resultMap>

    <select id="findAll"  resultMap="permission">
        SELECT * from permission;
    </select>

    <select id="findByAdminUserId" parameterType="int" resultMap="permission">
        select p.*
        from user u
        LEFT JOIN user_role ur on u.uid= ur.uid
        LEFT JOIN role r on ur.rid=r.rid
        LEFT JOIN permission_role pr on r.rid=pr.rid
        where u.uid=#{userId}
     </select>

</mapper>